.App {
  background-color: #282c34;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  text-align: center;
  font-size: calc(23px + 2vmin);
}

#body {
  width: 80%;
  margin: auto;
  min-height: 100vh;
}

h1 {
  text-align: center;
}

.part {
  padding: 20px;
}

* {
  margin: 0;
}